/*----------------- LOADER ---------------------------*/

.loaderBg{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top:0;
    overflow:hidden;
}

.loader {
    opacity: 1;
    visibility: visible;
    transition: visibility 2s, opacity 0.5s linear;
    position: absolute;
    top:50%;
    right: 50%;
    transform: translate(50%,-50%);
  }
  
  span {
    animation: 1.5s infinite normal terminal;
  }
  
  ::-moz-selection {
    background: #7021d2;
    color: #fff;
  }
  
  ::selection {
    background: #7021d2;
    color: #fff;
  }
  
  @keyframes glitch {

    0% {
        opacity: 0;
        left: 0;
      }
      60%,
      100% {
        opacity: 1;
        left: -2px;
      }

  }

   
  @keyframes terminal {
    0% {
      opacity: 0;
      left: 0;
    }
    40% {
      opacity: 0;
      left: -2px;
    }
    80% {
      opacity: 1;
      left: -2px;
    }
  }


  /* X-ROTATING BOXES */

.configure-border-1 {
    width: 115px;
    height: 115px;
    padding: 3px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0bf30300;
    border: 2px solid rgb(51, 21, 85);
    animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
  }
  
  .configure-border-2 {
    width: 115px;
    height: 115px;
    padding: 3px;
    left: -115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(152, 250, 127, 0.164);
    border: 2px solid rgb(51, 21, 85);
    transform: rotate(45deg);
    animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
  }
  
  .configure-core {
    width: 100%;
    height: 100%;
    background-color: #20f50d00;
  }

  
@keyframes configure-clockwise {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes configure-xclockwise {
    0% {
      transform: rotate(45deg);
    }
    25% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(-135deg);
    }
    75% {
      transform: rotate(-225deg);
    }
    100% {
      transform: rotate(-315deg);
    }
  }
